<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

      <div class="header_middle home10_style pt20 pb20 dn-992">
      <div class="container">
          <div class="row">
              <div class="col-lg-2 col-xxl-2">
                  <div class="header_top_logo_home1">
                      <div class="logo text-thm"><img  src="/assets/images/logo.png"/></div>
                  </div>
              </div>
              <div class="col-lg-5 col-xxl-7">
                  <div class="header_middle_advnc_search">
                      <div class="search_form_wrapper">
                          <div class="row">
                             
                              <div class="col-auto p0">
                                  <div class="top-search home10_style">
                                      <form action="#" method="get" class="form-search" accept-charset="utf-8">
                                          <div class="box-search pre_line"><input class="form_control" type="text" name="search" placeholder="Search products…">
                                              <div class="search-suggestions">
                                                  <div class="box-suggestions">
                                                      <ul>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf1.png" alt="sf1.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Sony DJ Headphones 4334205465, Black, Standard</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf2.png" alt="sf2.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Sony E-Mount Full Frame FE 24-70mm f/2.8 GM II G Master</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf3.png" alt="sf3.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">TV 55" 4-Series 4K UHD smart TV</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf4.png" alt="sf4.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Hugolog Baby Monitor, 2K Security Camera, PT Cameras for</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf5.png" alt="sf5.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Apple iPhone Retina 6s Plus 64GB</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                              <div class="col-auto p0">
                                  <div class="advscrh_frm_btn"><button type="submit" class="btn search-btn"><span class="flaticon-search"></span></button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 col-xxl-3">
                  <div class="">
                      <div class="wrapper ovh">
                          <div class="preloader"></div>
                          <ul class="mb0 text-center text-lg-start">
                             
                              <li class="list-inline-item me-3 text-center text-lg-start">
                                  <a *ngIf="!firstname" class="header_top_iconbox home10_style signin-filter-btn" href="login">
                                      <div class="d-block d-md-flex">
                                          <div class="icon"><span class="flaticon-profile"></span></div>
                                          <div class="details">
                                              <p class="subtitle">Sign In</p>
                                              <h5 class="title">Account</h5>
                                          </div>
                                      </div>
                                  </a>
                                  <a *ngIf="firstname" class="header_top_iconbox home10_style signin-filter-btn">
                                    <div class="d-block d-md-flex">
                                      <div class="icon"><span class="flaticon-profile"></span></div>
                                      <div class="details">
                                        <p (click)="logout()" class="subtitle">Logout</p>
                                        <a href="myaccount"><h5 class="title">Account</h5></a>
                                      </div>
                                    </div>
                                  </a>
                                  
                              </li>
                              <li class="list-inline-item text-center text-lg-start" *ngIf="firstname">
                                  <a class="header_top_iconbox home10_style cart-filter-btn" href="cart">
                                      <div class="d-block d-md-flex">
                                          <div class="icon"><span><img src="assets/images/icons/flaticon-shopping-cart-white.svg" alt=""></span><span class="badge">{{this.countcart}}</span></div>
                                          <div class="details">
                                              <p class="subtitle">${{this.total}}</p>
                                              <h5 class="title">Total</h5>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <header class="header-nav menu_style_home_one menu_home5_style athome3 athome10 main-menu bb1">
      <nav class="posr">
          <div class="container posr menu_bdrt1">
              <div class="menu-toggle"><button type="button" id="menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
              <div class="posr logo1 home4_style">
                  <div id="mega-menu"><a class="btn-mega" href="#"><img class="me-2" src="/assets/images/desktop-nav-menu-dark.svg" alt="Desktop Menu Icon"><span class="fw500 fz16 heading-color vam">Devices</span></a>
                    <ul class="menu">
                        <li *ngFor="let parent of devices">
                          <a class="dropdown" href="#">
                            <span class="menu-icn flaticon-diamond"></span>
                            <span class="menu-title">{{ parent.parent_name }}</span>
                          </a>
                          <div class="drop-menu">
                            <div class="one-third" *ngFor="let submenu of parent.submenus">
                              <div class="cat-title"><a href="#">{{ submenu.name }}</a></div>
                              <ul class="mb20">
                                <li *ngFor="let subcategory of submenu.subcategories">
                                  <a href="#">{{ subcategory.name }}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                      
                                  
                  </div>
              </div>
              <ul id="respMenu" class="ace-responsive-menu menu_list_custom_code wa pl200" data-menu-style="horizontal">
                <li class="visible_list"><a href="/"><span class="title">Home</span></a></li>
                <li class="visible_list"><a href="#"><span class="title">{{menus[0]?.name}}</span></a></li>
                <li class="megamenu_style"><a href="#"><span class="title">{{menus[1]?.name}}</span></a>
                    <ul class="row dropdown-megamenu">
                    <li class="col mega_menu_list pl30" *ngFor="let category of menus[1]?.children">
                        <h4 class="title">{{category.name}}</h4>
                        <ul>
                        <li *ngFor="let subcategory of category.children"><a href="{{subcategory.link}}">{{subcategory.name}}</a></li>
                        </ul>
                    </li>
                    </ul>
                </li>
                <li class="visible_list"><a href="#"><span class="title">{{menus[2]?.name}}</span></a>
                    <ul>
                    <li><a href="{{menus[2]?.children[0].link}}">{{menus[2]?.children[0].name}}</a></li>
                    <li><a href="{{menus[2]?.children[1].link}}">{{menus[2]?.children[1].name}}</a></li>
                    </ul>
                </li>
                </ul>
                
                  <!--<li class="visible_list"><a href="#"><span class="title">Home</span></a>
                      <ul>
                          <li><a href="index1.html">Home V1</a></li>
                          <li><a href="index2.html">Home V2</a></li>
                          <li><a href="index3.html">Home V3</a></li>
                          <li><a href="index4.html">Home V4</a></li>
                          <li><a href="index5.html">Home V5</a></li>
                          <li><a href="index6.html">Home V6</a></li>
                          <li><a href="index7.html">Home V7</a></li>
                          <li><a href="index8.html">Home V8</a></li>
                          <li><a href="index9.html">Home V9</a></li>
                          <li><a href="index10.html">Home V10</a></li>
                      </ul>
                  </li>
                  <li class="megamenu_style"><a href="#"><span class="title">Shop</span></a>
                      <ul class="row dropdown-megamenu">
                          <li class="col mega_menu_list pl30">
                              <h4 class="title">Shop Listing</h4>
                              <ul>
                                  <li><a href="page-shop-list-v1.html">Listing v1</a></li>
                                  <li><a href="page-shop-list-v2.html">Listing v2</a></li>
                                  <li><a href="page-shop-list-v3.html">Listing v3</a></li>
                                  <li><a href="page-shop-list-v4.html">Listing v4</a></li>
                                  <li><a href="page-shop-list-v5.html">Listing v5</a></li>
                                  <li><a href="page-shop-list-v6.html">Listing v6</a></li>
                                  <li><a href="page-shop-list-v7.html">Listing v7</a></li>
                                  <li><a href="page-shop-list-v8.html">Listing v8</a></li>
                              </ul>
                          </li>
                          <li class="col mega_menu_list">
                              <h4 class="title">Shop Single</h4>
                              <ul>
                                  <li><a href="page-shop-single-v1.html">Version 1</a></li>
                                  <li><a href="page-shop-single-v2.html">Version 2</a></li>
                                  <li><a href="page-shop-single-v3.html">Version 3</a></li>
                                  <li><a href="page-shop-single-v4.html">Version 4</a></li>
                                  <li><a href="page-shop-single-v5.html">Version 5</a></li>
                                  <li><a href="page-shop-single-color-switch.html">Color Switch</a></li>
                                  <li><a href="page-shop-single-image-switch.html">Image Switch</a></li>
                                  <li><a href="page-shop-single-countdown.html">Single Countdown</a></li>
                                  <li><a href="page-shop-single-external-product.html">External Product</a></li>
                                  <li><a href="page-shop-single-grouped-product.html">Grouped Product</a></li>
                                  <li><a href="page-shop-single-bought-together.html">Bought Together</a></li>
                              </ul>
                          </li>
                          <li class="col mega_menu_list">
                              <h4 class="title">User Dashboard</h4>
                              <ul>
                                  <li><a href="page-dashboard.html">Dashboard</a></li>
                                  <li><a href="page-dashboard-order.html">Orders</a></li>
                                  <li><a href="page-dashboard-wish-list.html">Downloads</a></li>
                                  <li><a href="page-dashboard-address.html">Addresses</a></li>
                                  <li><a href="page-dashboard-account-details.html">Account Details</a></li>
                                  <li><a href="page-dashboard-wish-list.html">Wishlist</a></li>
                                  <li><a href="page-login.html">Logout</a></li>
                              </ul>
                          </li>
                          <li class="col mega_menu_list">
                              <h4 class="title">Woo Pages</h4>
                              <ul>
                                  <li><a href="page-shop-cart.html">Cart</a></li>
                                  <li><a href="page-shop-checkout.html">Checkout</a></li>
                                  <li><a href="page-shop-order-received.html">Wishlist</a></li>
                                  <li><a href="page-account-details.html">My account</a></li>
                                  <li><a href="page-compare.html">Compare</a></li>
                                  <li><a href="page-order-tracking.html">Order Tracking</a></li>
                              </ul>
                          </li>
                    
                      </ul>
                  </li>
                  <li class="visible_list"><a href="#"><span class="title">Pages</span></a>
                      <ul>
                          <li><a href="page-about.html">About Us</a></li>
                          <li><a href="#"><span class="title">Accounts</span></a>
                              <ul>
                                  <li><a href="page-account-details.html">Account Details</a></li>
                                  <li><a href="page-account-order.html">Account Order</a></li>
                                  <li><a href="page-account-address.html">Account Address</a></li>
                                  <li><a href="page-account-wishlist.html">Account Wishlist</a></li>
                                  <li><a href="page-account-invoice.html">Account Invoice</a></li>
                              </ul>
                          </li>
                          <li><a href="page-become-vendor.html">Become Vendor</a></li>
                          <li><a href="#"><span class="title">Vendor Pages</span></a>
                              <ul>
                                  <li><a href="page-vendor-list.html">Vendor List</a></li>
                                  <li><a href="page-vendor-single.html">Vendor Single</a></li>
                                  <li><a href="page-dashboard.html">Dashboard</a></li>
                                  <li><a href="page-dashboard-products.html">Products</a></li>
                                  <li><a href="page-dashboard-order.html">Order</a></li>
                                  <li><a href="page-dashboard-customer.html">Customer</a></li>
                                  <li><a href="page-dashboard-categories.html">Categories</a></li>
                                  <li><a href="page-dashboard-message.html">Message</a></li>
                                  <li><a href="page-dashboard-setting.html">Settings</a></li>
                              </ul>
                          </li>
                          <li><a href="page-brands.html">Brands</a></li>
                          <li><a href="page-contact.html">Contact</a></li>
                          <li><a href="page-coming-soon.html">Coming Soon</a></li>
                          <li><a href="page-help.html">Help</a></li>
                          <li><a href="page-error.html">404 Page</a></li>
                          <li><a href="page-faq.html">Faq</a></li>
                          <li><a href="page-invoices.html">Invoices</a></li>
                          <li><a href="page-login.html">Login</a></li>
                          <li><a href="page-register.html">Register</a></li>
                          <li><a href="page-terms.html">Terms and Conditions</a></li>
                          <li><a href="page-ui-element.html">UI Elements</a></li>
                      </ul>
                  </li>
                  <li class="visible_list"><a href="#"><span class="title">Blog</span></a>
                      <ul>
                          <li><a href="page-blog-grid.html">Blog Grid</a></li>
                          <li><a href="page-blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                          <li><a href="page-blog-details.html">Blog Details</a></li>
                          <li><a href="page-blog-list.html">Blog List</a></li>
                          <li><a href="page-blog-single.html">Blog Single</a></li>
                          <li><a href="page-blog-single2.html">Blog Single v2</a></li>
                      </ul>
                  </li>
              </ul>
              <ul id="respMenu2" class="ace-responsive-menu widget_menu_home2 wa" data-menu-style="horizontal">
                  <li class="list-inline-item list_c me-0"><a href="#">Deal of the Day</a></li>
                  <li class="list-inline-item list_c me-0"><a href="#">Hot Deals</a></li>
                  <li class="list-inline-item list_c me-0"><a href="#">Best Sellers</a></li>
                  <li class="list-inline-item list_c"><a href="#">New Arrivals</a></li>
              </ul> -->
          </div>
      </nav>
  </header>
 
 

  <div id="page" class="stylehome1">
      <div class="mobile-menu">
          <div class="header stylehome1 home10_style">
              <div class="menu_and_widgets">
                  <div class="mobile_menu_bar float-start"><a class="menubar" href="#menu"><span></span></a><a class="mobile_logo" href="#">1StopWireless<span class="text-thm">.</span></a></div>
                  <div class="mobile_menu_widget_icons">
                      <ul class="cart mt15">
                          <li class="list-inline-item"><a class="cart_btn signin-filter-btn" href="#"><span class="icon flaticon-profile"></span></a></li>
                          <li class="list-inline-item"><a class="cart_btn cart-filter-btn" href="#"><span class="icon"><img src="assets/images/icons/flaticon-shopping-cart-white.svg" alt=""></span><span class="badge bgc-thm">2</span></a></li>
                      </ul>
                  </div>
              </div>
              <div class="mobile_menu_search_widget">
                  <div class="header_middle_advnc_search">
                      <div class="container search_form_wrapper">
                          <div class="row">
                              <div>
                                  <div class="top-search text-start">
                                      <form action="#" method="get" class="form-search" accept-charset="utf-8">
                                          <div class="box-search"><input class="form_control" type="text" name="search" placeholder="Search products…">
                                              <div class="search-suggestions text-start">
                                                  <div class="box-suggestions">
                                                      <ul>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf1.png" alt="sf1.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Sony DJ Headphones 4334205465, Black, Standard</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf2.png" alt="sf2.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Sony E-Mount Full Frame FE 24-70mm f/2.8 GM II G Master</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf3.png" alt="sf3.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">TV 55" 4-Series 4K UHD smart TV</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf4.png" alt="sf4.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Hugolog Baby Monitor, 2K Security Camera, PT Cameras for</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                          <li>
                                                              <div class="thumb"><img src="assets/images/listing/sf5.png" alt="sf5.png"></div>
                                                              <div class="info-product">
                                                                  <div class="item_title">Apple iPhone Retina 6s Plus 64GB</div>
                                                                  <div class="price"><span class="sale">$32.50</span></div>
                                                              </div>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                              <div>
                                  <div class="advscrh_frm_btn"><button type="submit" class="btn search-btn"><span class="flaticon-search"></span></button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="posr">
                  <div class="mobile_menu_close_btn"><span class="flaticon-close"></span></div>
              </div>
          </div>
      </div>
      <nav id="menu" class="stylehome1">
          <ul>
              <li><span>Home</span>
                  <ul>
                      <li><a href="index1.html">Home V1</a></li>
                      <li><a href="index2.html">Home V2</a></li>
                      <li><a href="index3.html">Home V3</a></li>
                      <li><a href="index4.html">Home V4</a></li>
                      <li><a href="index5.html">Home V5</a></li>
                      <li><a href="index6.html">Home V6</a></li>
                      <li><a href="index7.html">Home V7</a></li>
                      <li><a href="index8.html">Home V8</a></li>
                      <li><a href="index9.html">Home V9</a></li>
                      <li><a href="index10.html">Home V10</a></li>
                  </ul>
              </li>
              <li><span>Shop</span>
                  <ul>
                      <li><span>Shop Listing</span>
                          <ul>
                              <li><a href="page-shop-list-v1.html">Listing v1</a></li>
                              <li><a href="page-shop-list-v2.html">Listing v2</a></li>
                              <li><a href="page-shop-list-v3.html">Listing v3</a></li>
                              <li><a href="page-shop-list-v4.html">Listing v4</a></li>
                              <li><a href="page-shop-list-v5.html">Listing v5</a></li>
                              <li><a href="page-shop-list-v6.html">Listing v6</a></li>
                              <li><a href="page-shop-list-v7.html">Listing v7</a></li>
                              <li><a href="page-shop-list-v8.html">Listing v8</a></li>
                          </ul>
                      </li>
                      <li><span>Shop Single</span>
                          <ul>
                              <li><a href="page-shop-single-v1.html">Version 1</a></li>
                              <li><a href="page-shop-single-v2.html">Version 2</a></li>
                              <li><a href="page-shop-single-v3.html">Version 3</a></li>
                              <li><a href="page-shop-single-v4.html">Version 4</a></li>
                              <li><a href="page-shop-single-v5.html">Version 5</a></li>
                              <li><a href="page-shop-single-color-switch.html">Color Switch</a></li>
                              <li><a href="page-shop-single-image-switch.html">Image Switch</a></li>
                              <li><a href="page-shop-single-countdown.html">Single Countdown</a></li>
                              <li><a href="page-shop-single-external-product.html">External Product</a></li>
                              <li><a href="page-shop-single-grouped-product.html">Grouped Product</a></li>
                              <li><a href="page-shop-single-bought-together.html">Bought Together</a></li>
                          </ul>
                      </li>
                      <li><span>User Dashboard</span>
                          <ul>
                              <li><a href="page-dashboard.html">Dashboard</a></li>
                              <li><a href="page-dashboard-order.html">Orders</a></li>
                              <li><a href="page-dashboard-wish-list.html">Downloads</a></li>
                              <li><a href="page-dashboard-address.html">Addresses</a></li>
                              <li><a href="page-dashboard-account-details.html">Account Details</a></li>
                              <li><a href="page-dashboard-wish-list.html">Wishlist</a></li>
                              <li><a href="page-login.html">Logout</a></li>
                          </ul>
                      </li>
                      <li><span>Shop Pages</span>
                          <ul>
                              <li><a href="page-shop-cart.html">Cart</a></li>
                              <li><a href="page-shop-checkout.html">Checkout</a></li>
                              <li><a href="page-shop-order-received.html">Order Received</a></li>
                              <li><a href="page-order-tracking.html">Order Tracking</a></li>
                              <li><a href="page-store-location.html">Store Locator</a></li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li><span>Pages</span>
                  <ul>
                      <li><a href="page-about.html">About Us</a></li>
                      <li><span>Accounts</span>
                          <ul>
                              <li><a href="page-account-details.html">Account Details</a></li>
                              <li><a href="page-account-order.html">Account Order</a></li>
                              <li><a href="page-account-address.html">Account Address</a></li>
                              <li><a href="page-account-wishlist.html">Account Wishlist</a></li>
                              <li><a href="page-account-invoice.html">Account Invoice</a></li>
                          </ul>
                      </li>
                      <li><a href="page-become-vendor.html">Become Vendor</a></li>
                      <li><span>Vendor Pages</span>
                          <ul>
                              <li><a href="page-vendor-list.html">Vendor List</a></li>
                              <li><a href="page-vendor-single.html">Vendor Single</a></li>
                              <li><a href="page-dashboard.html">Dashboard</a></li>
                              <li><a href="page-dashboard-products.html">Products</a></li>
                              <li><a href="page-dashboard-order.html">Order</a></li>
                              <li><a href="page-dashboard-customer.html">Customer</a></li>
                              <li><a href="page-dashboard-categories.html">Categories</a></li>
                              <li><a href="page-dashboard-message.html">Message</a></li>
                              <li><a href="page-dashboard-setting.html">Settings</a></li>
                          </ul>
                      </li>
                      <li><a href="page-brands.html">Brands</a></li>
                      <li><a href="page-contact.html">Contact</a></li>
                      <li><a href="page-coming-soon.html">Coming Soon</a></li>
                      <li><a href="page-help.html">Help</a></li>
                      <li><a href="page-error.html">404 Page</a></li>
                      <li><a href="page-faq.html">Faq</a></li>
                      <li><a href="page-invoices.html">Invoices</a></li>
                      <li><a href="page-login.html">Login</a></li>
                      <li><a href="page-register.html">Register</a></li>
                      <li><a href="page-terms.html">Terms and Conditions</a></li>
                      <li><a href="page-ui-element.html">UI Elements</a></li>
                  </ul>
              </li>
              <li><span>Blog</span>
                  <ul>
                      <li><a href="page-blog-grid.html">Blog Grid</a></li>
                      <li><a href="page-blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                      <li><a href="page-blog-details.html">Blog Details</a></li>
                      <li><a href="page-blog-list.html">Blog List</a></li>
                      <li><a href="page-blog-single.html">Blog Single</a></li>
                      <li><a href="page-blog-single2.html">Blog Single v2</a></li>
                  </ul>
              </li>
              <li class="title my-3 bb1 pl20 fz20 fw500 pb-3">Departments</li>
              <li><span><i class="flaticon-cooking mr20"></i>Home & Kitchen</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Home & Kitchen</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-armchair mr20"></i>Home & Furniture</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Home & Furniture</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-smartphone-1 mr20"></i>Electronics</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Electronics</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-bride-dress mr20"></i>Clothing & Accessories</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Clothing & Accessories</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-heart-beat mr20"></i>Health & Beauty</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Health & Beauty</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-volleyball mr20"></i>Sport & Outdoor</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Sport & Outdoor</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-groceries mr20"></i>Grocery & Market</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Grocery & Market</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-remote-control mr20"></i>Toy & Video Games</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Toy & Video Games</a></li>
                  </ul>
              </li>
              <li><span><i class="flaticon-feeding-bottle mr20"></i>Babies & Moms</span>
                  <ul>
                      <li><a href="page-shop-list-v1.html">Babies & Moms</a></li>
                  </ul>
              </li>
              <li><a class="tdu text-thm1 text-capitalize" href="#">See More<i class="far fa-angle-down"></i></a></li>
          </ul>
      </nav>
  </div>
 
