span.badge.bgc-thm.rounded-circle {
    color: white !important;
}
.header a.menubar:after,.header a.menubar span,.header a.menubar:before {
    background: #000;
}
.header.stylehome1.home10_style {
    background: #ffffff;
}
span.icon.flaticon-profile {
     color: black !important;
}
a.menubar {
    color: black !important;
}
img.mobilemenu {
    filter: invert(100%);
  }
  .mobile_menu_bar.float-start .logo img {
    width: 100%;
    height: 50px;
}

span.badge.bgc-thm {
    color: white !important;
}
/* Hide the submenus by default */
.mymobilemenu ul ul {
    display: none;
  }
  
  /* Show the submenu when its parent is hovered over */
  .mymobilemenu ul li:hover > ul {
    display: block;
  }
  
  /* Style the menu links */
  .mymobilemenu ul li > span {
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #333;
  }
  
  .mymobilemenu ul li > ul > li > span,
  .mymobilemenu ul li > ul > li > ul > li > a {
    display: block;
    padding: 10px;
    color: #333;
    background-color: #f5f5f5;
  }
  
  .mymobilemenu ul li > ul > li > ul > li > a:hover {
    background-color: #ccc;
  }
  .mymobilemenu span.category{
    width: 100%;
    background: #3f93a0 !important;
    color:white;
}
.mymobilemenu span.category a,span.category{
    color:white !important;
}
.mymobilemenu i.fas.fa-chevron-down {
    float: right;
    position: relative;
}
.mymobilemenu li {
    font-size: 16px;
    margin: 2px auto;
    line-height: 25px;
    color: white;
}
span.mobiletotal {
    color: black;
}

.mymobilemenu li a {
    font-size: 16px;
    padding: 0px 10px;
    line-height: 35px;
}
.mobile-menu .logo img {
    height: auto !important;
    width: 10vh !important;
}
.ps{
    padding:0px !important;
}
.scrollable{
    overflow-y: scroll !important;
}
.widget_menu_home2 {
    display: none;
  }
  
  /* show the menu only when scrolled */
  .show-menu {
    display: block;
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  #mega-menu ul.menu li .drop-menu, .mega_button_dropdown_menu ul.menu li .drop-menu {
    padding: 0px 7px 27px 0;
  }
 .menu_list_custom_code h4.title {
    color: #397388 !important;
}
.menu_list_custom_code ul.sub-menu::before{
    display:none;
}
.menu_list_custom_code .visible_list a span.title {
    text-transform: lowercase !important;
    font-variant: small-caps;

  }
  