<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

      <div class="header_middle home10_style pt20 pb20 dn-992">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-2 col-xxl-2">
                  <div class="header_top_logo_home1">
                      <a href="" class="logo text-thm"><img  src="/assets/images/logo.png"/></a>
                  </div>
              </div>
              <div class="col-lg-7 col-xxl-7">
                  <div class="header_middle_advnc_search">
                      <div class="search_form_wrapper">
                          <div class="row">
                             
                              <div class="col-auto p0">
                                  <div class="top-search home10_style">
                                       <form method="get" class="form-search" accept-charset="utf-8" (keydown.enter)="search()">
                                        <div class="box-search">
                                            <input class="form_control" type="text" name="search" placeholder="Search products…" [(ngModel)]="searchQuery">
                                        </div>
                                     
                                    </form>
                                  </div>
                              </div>
                              <div class="col-auto p0">
                                  <div class="advscrh_frm_btn"><button (click)="search()"  type="submit" class="btn search-btn"><span class="flaticon-search"></span></button></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-xxl-3">
                  <div class="">
                      <div class="wrapper ovh">
                          <div class="preloader"></div>
                          <ul class="mb0 text-center text-lg-start">
                             
                              <li class="list-inline-item me-3 text-center text-lg-start">
                                  <a *ngIf="!firstname" class="header_top_iconbox home10_style signin-filter-btn" href="login">
                                      <div class="d-block d-md-flex">
                                          <div class="icon"><span class="flaticon-profile"></span></div>
                                          <div class="details">
                                              <p class="subtitle">Sign In</p>
                                              <h5 class="title">Account</h5>
                                          </div>
                                      </div>
                                  </a>
                                  <a *ngIf="firstname" class="header_top_iconbox home10_style signin-filter-btn">
                                    <div class="d-block d-md-flex">
                                      <div class="icon"><span class="flaticon-profile"></span></div>
                                      <div class="details">
                                        <p (click)="logout()" class="subtitle hover-pointer">Logout</p>
                                        <a href="myaccount"><h5 class="title">Account</h5></a>
                                      </div>
                                    </div>
                                  </a>
                                  
                              </li>
                              <li class="list-inline-item text-center text-lg-start" *ngIf="firstname">
                                  <a class="header_top_iconbox home10_style cart-filter-btn" href="cart">
                                      <div class="d-block d-md-flex">
                                          <div class="icon"><span><img src="assets/images/icons/flaticon-shopping-cart-white.svg" alt=""></span><span class="badge">{{this.countcart}}</span></div>
                                          <div class="details">
                                              <p class="subtitle">${{this.total.toFixed(2)}}</p>
                                              <h5 class="title">Total</h5>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <header class="header-nav menu_style_home_one menu_home5_style athome3 athome10 main-menu bb1">
      <nav class="posr">
          <div class="container-fluid posr menu_bdrt1">
              <div class="menu-toggle"><button type="button" id="menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
              <div class="posr logo1 home4_style">
                  <div id="mega-menu"><a class="btn-mega" href="#"><img class="me-2" src="https://cdn-icons-png.flaticon.com/32/545/545245.png" alt="Desktop Menu Icon"><span class="fw500 fz16 heading-color vam f20">Devices</span></a>
                    <ul class="menu">
                        <li *ngFor="let parent of devices">
                          <a class="dropdown" href="category/{{parent.parent_slug}}">
                           
                            <span class="menu-title">{{ parent.parent_name }}</span>
                          </a>
                          <div class="drop-menu">
                            <div class="one-third" *ngFor="let submenu of parent.submenus">
                              <div class="cat-title"><a href="category/{{submenu.slug}}">{{ submenu.name }}</a></div>
                              <ul class="mb20">
                                <li *ngFor="let subcategory of submenu.subcategories">
                                  <a href="category/{{subcategory.slug}}">{{ subcategory.name }}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                      
                                  
                  </div>
              </div>
              <ul id="respMenu" class="ace-responsive-menu menu_list_custom_code wa pl200" data-menu-style="horizontal">
               
            <li class="visible_list"><a href="{{menus[0]?.link}}"><span class="title">{{menus[0]?.name  ? menus[0]?.name : 'Home'}}</span></a></li>
                <li class="visible_list"><a href="#"><span class="title">{{menus[1]?.name ? menus[1]?.name : 'Airpods'}}</span></a>
                    <ul>
                    <li><a class="mymenustyle" href="/category/{{menus[1]?.children[0].link}}">{{menus[1]?.children[0].name}}</a></li>
                    <li><a class="mymenustyle" href="/category/{{menus[1]?.children[1].link}}">{{menus[1]?.children[1].name}}</a></li>
                    <li><a class="mymenustyle" href="/category/{{menus[1]?.children[2].link}}">{{menus[1]?.children[2].name}}</a></li>
                    <li><a class="mymenustyle" href="/category/{{menus[1]?.children[3].link}}">{{menus[1]?.children[3].name}}</a></li>
                    </ul>
                </li>
                <li class="visible_list"><a href="#"><span class="title">{{menus[2]?.name ? menus[2]?.name : 'Watch'}}</span></a>
                    <ul>
                    <li><a class="mymenustyle" href="/category/{{menus[2]?.children[0].link}}">{{menus[2]?.children[0].name}}</a></li>
                    </ul>
                </li>
                <li class="megamenu_style"><a href="#"><span class="title">{{menus[3]?.name ? menus[3]?.name : 'Tablets'}}</span></a>
                    <ul class="row dropdown-megamenu">
                    <li class="col mega_menu_list pl30 fullwidthcol" *ngFor="let category of menus[3]?.children">
                        <h4 class="title">{{category.name}}</h4>
                        <ul>
                        <li class="ps" *ngFor="let subcategory of category.children"><a href="/category/{{subcategory.link}}">{{subcategory.name}}</a></li>
                        </ul>
                    </li>
                    </ul>
                </li>
                <li class="visible_list"><a href="/category/{{menus[4]?.name}}"><span class="title">{{menus[4]?.name ? menus[4]?.name : 'Pouches'}}</span></a></li>
                <li class="visible_list"><a href="/page/{{menus[5]?.name}}"><span class="title">{{menus[5]?.name ? menus[5]?.name : 'Sale'}}</span></a></li>
                <li class="visible_list"><a href="/category/{{menus[6]?.name}}"><span class="title">{{menus[6]?.name ? menus[6]?.name : 'Accessories'}}</span></a></li>
                <li class="visible_list"><a href="/page/{{menus[7]?.link}}"><span class="title">{{menus[7]?.name ? menus[7]?.name : 'New Arrival'}}</span></a></li>
         
                </ul>
                
              
              <ul id="respMenu2" class="ace-responsive-menu widget_menu_home2 wa" data-menu-style="horizontal" *ngIf="auth">
                  <li class="list-inline-item list_c me-0">                                  
                    <a href="myaccount" class="header_iconbox_home3_style me-4 signin-filter-btn">
                        <div class="d-block d-flex align-items-center"><div class="icon me-2"><span class="flaticon-profile"></span>
                        </div>
                        <div class="details"><h5 class="title">My Account</h5></div>
                    </div></a>

                  </li>
                  <li class="list-inline-item list_c me-0">                                  
                    <a href="cart" class="header_iconbox_home3_style cart-filter-btn">
                        <div class="d-block d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/icons/flaticon-shopping-cart.svg" alt="">
                                <span class="badge bgc-thm rounded-circle">{{this.countcart}}</span>
                            </div>
                            <div class="details ms-2"><h5 class="title">Cart</h5></div>
                        </div>
                    </a>

                  </li>
                  <li class="list-inline-item list_c me-0">                 
                    <a href="cart" class="header_iconbox_home3_style cart-filter-btn">
                        <div class="details ms-2">
                            <h5 class="title">Total : ${{this.total.toFixed(2)}}</h5>
                        </div>
                    </a>
                </li>
                 
              </ul> 
                     </div>
      </nav>
  </header>
 
 

  <div id="page" class="stylehome1">
      <div class="mobile-menu">
          <div class="header stylehome1 home10_style">
              <div class="menu_and_widgets">
                  <div class="mobile_menu_bar float-start"><a class="menubar" href="#menu"><span></span></a><a class="mobile_logo" href="#"> <div class="logo text-thm"><img  src="/assets/images/logo.png"/></div></a></div>
                  <div class="mobile_menu_widget_icons">
                      <ul class="cart mt15">
                          <li class="list-inline-item" *ngIf="auth"><a class="cart_btn signin-filter-btn" href="myaccount"><span class="icon flaticon-profile"></span></a></li>
                          <li class="list-inline-item" *ngIf="!auth"><a class="cart_btn signin-filter-btn" href="login"><span class="icon flaticon-profile"></span></a></li>
                          <li class="list-inline-item" *ngIf="auth"><a class="cart_btn signin-filter-btn" href="cart"><span class="mobiletotal">${{this.total.toFixed(2)}}</span></a></li>
                          <li class="list-inline-item" *ngIf="auth"><a class="cart_btn cart-filter-btn" href="cart"><span class="icon"><img src="assets/images/icons/flaticon-shopping-cart-white.svg" class="mobilemenu" alt="">
                        </span><span class="badge bgc-thm">{{this.countcart}}</span></a></li>
                      </ul>
                  </div>
              </div>
              <div class="mobile_menu_search_widget">
                  <div class="header_middle_advnc_search">
                      <div class="container search_form_wrapper">
                          <div class="row">
                              <div>
                                  <div class="top-search text-start">
                                    <form method="get" class="form-search" accept-charset="utf-8">
                                        <div class="box-search">
                                            <input class="form_control" type="text" name="search" placeholder="Search products…" [(ngModel)]="searchQuery">
                                        </div>
                                        <div (click)="search()" class="advscrh_frm_btn"><button type="submit" class="btn search-btn"><span class="flaticon-search"></span></button></div>
                                    </form>
                                    
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
              <div class="posr">
                  <div class="mobile_menu_close_btn"><span class="flaticon-close"></span></div>
              </div>
          </div>
      </div>
      <nav id="menu" class="stylehome1 mymobilemenu" *ngIf="devices">
        <ul>
            <li *ngFor="let parent of devices"><span class="category" *ngIf="parent.parent_name">{{ parent.parent_name ? parent.parent_name : 'Home' }}   <i class="fas fa-chevron-down"></i>
            </span>
                <ul>
                    <li *ngFor="let submenu of parent.submenus"><span>{{ submenu.name ? submenu.name : 'Home' }}   <i class="fas fa-chevron-down"></i>
                    </span>
                        <ul>
                            <li *ngFor="let subcategory of submenu.subcategories">  <a href="category/{{subcategory.slug}}">{{ subcategory.name ? subcategory.name : 'Home' }}</a></li>
                        </ul>    
                    </li>
                </ul>
            </li> 
           
            <hr>

            <li *ngIf="menus[0]?.name"><span class="category"><a href="{{menus[0]?.link}}">{{menus[0]?.name}}</a></span></li>

            <li *ngIf="menus[1]?.name"><span class="category">{{menus[1]?.name}} <i class="fas fa-chevron-down"></i></span>
                <ul>
                    <li><a href="/category/{{menus[1]?.children[0].link}}">{{menus[1]?.children[0].name}}</a></li>
                    <li><a href="/category/{{menus[1]?.children[1].link}}">{{menus[1]?.children[1].name}}</a></li>
                    <li><a href="/category/{{menus[1]?.children[2].link}}">{{menus[1]?.children[2].name}}</a></li>
                    <li><a href="/category/{{menus[1]?.children[3].link}}">{{menus[1]?.children[3].name}}</a></li>
                </ul>
            </li>
            <li *ngIf="menus[2]?.name"><span class="category">{{menus[2]?.name}} <i class="fas fa-chevron-down"></i></span>
                <ul>
                  <li><a href="/category/{{menus[2]?.children[0].link}}">{{menus[2]?.children[0].name}}</a></li>
                </ul>
            </li>
            <li *ngIf="menus[3]?.name"><span class="category">{{menus[3]?.name}} <i class="fas fa-chevron-down"></i></span>
                <ul>
                <li *ngFor="let category of menus[3]?.children">
                    <span class="category">{{category.name}} <i class="fas fa-chevron-down"></i></span>
                    <ul>
                        <li *ngFor="let subcategory of category.children"><a href="/category/{{subcategory.link}}">{{subcategory.name}}</a></li>
                    </ul>
                </li>
                </ul>
            </li>
            <li *ngIf="menus[4]?.name"><span class="category"><a href="/category/{{menus[4]?.name}}">{{menus[4]?.name}}</a></span></li>
            <li *ngIf="menus[5]?.name"><span class="category"><a href="/page/{{menus[5]?.name}}">{{menus[5]?.name}}</a></span></li>
            <li *ngIf="menus[6]?.name"><span class="category"><a href="/category/{{menus[6]?.link}}">{{menus[6]?.name}}</a></span></li>
            <li *ngIf="menus[7]?.name"><span class="category"><a href="/page/{{menus[7]?.link}}">{{menus[7]?.name}}</a></span></li>
            
        </ul>
    </nav>
  </div>
 
