.mg30{
    margin:30px auto;
}
.panel-heading {
    background-color: #ededed;
    border-radius: 6px 6px 0 0;
    color: #363636;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.25;
    padding: 0.75em 1em;
}
.panel-body {
    padding: 0px 10px;
}