<app-header></app-header>
<div class="container-fluid myaccount">
    <div class="row task-manager">

   
    <div class="col-md-3">
      <div class="dashboard_sidebar_list">
        <div class="sidebar_list_item">
          <a (click)="profile()" class="items-center" [ngClass]="{ '-is-active': this.pagestate === 'Profile' }"><i class="flaticon-house mr15"></i>Profile</a>
        </div>
       
        <div class="sidebar_list_item ">
          <a  (click)="order()" class="items-center" [ngClass]="{ '-is-active': this.pagestate === 'Order History' }"><i class="flaticon-checked-box mr15"></i>Order</a>
        </div>
        <div class="sidebar_list_item ">
          <a (click)="changepassword()" class="items-center" [ngClass]="{ '-is-active': this.pagestate === 'Change Password' }"><i class="flaticon-growth mr15"></i>Change Password</a>
        </div>
       
      
        <div class="sidebar_list_item ">
          <a (click)="myaddress()" class="items-center" [ngClass]="{ '-is-active': this.pagestate === 'My Address' }"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-users">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>My Address</a>
        </div>
        <div class="sidebar_list_item ">
          <a  (click)="logout()" class="items-center"><i class="flaticon-exit mr15"></i>Logout</a>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      
        <div class="header">{{this.pagestate}}</div>
        <div class="card account_details_page form_grid" *ngIf="profileview">
          <form class="contact_form" name="contact_form" action="#" method="post" novalidate="">
            <div class="row">
              
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="form-label">Full Name</label>
                  <input class="form-control" type="text" placeholder="Your Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="form-label">Last Name</label>
                  <input class="form-control" type="text" placeholder="Your Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="form-label">Phone Number</label>
                  <input class="form-control" type="number" placeholder="Phone Number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="form-label">Email</label>
                  <input class="form-control email" type="email" placeholder="Your Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="dashboard_page sidebar_location_filter">
                  <div class="form-group mb-3">
                    <label class="form-label">Country</label>
                    <div class="checkout_country_form actegory">
                      <div class="dropdown bootstrap-select show-tick"><select class="selectpicker show-tick">
                        <option>Select</option>
                        <option value="Turkey">Turkey</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States">United States</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="UK">UK</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                      </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" title="Select"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Select</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="dashboard_page sidebar_location_filter">
                  <div class="form-group mb-3">
                    <label class="form-label">State</label>
                    <div class="checkout_country_form actegory">
                      <div class="dropdown bootstrap-select show-tick"><select class="selectpicker show-tick">
                        <option>Select</option>
                        <option value="Istanbul">Istanbul</option>
                        <option value="London">London</option>
                        <option value="NewYork">New York</option>
                        <option value="Paris">Paris</option>
                        <option value="Dubai">Dubai</option>
                        <option value="Rome">Rome</option>
                        <option value="Singapore">Singapore</option>
                      </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" title="Select"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Select</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="form-label">Address Line 1</label>
                  <input class="form-control" type="text" placeholder="Address Line">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="form-label">Address Line 2</label>
                  <input class="form-control" type="text" placeholder="Address Line">
                </div>
              </div>
            
              <div class="col-sm-12">
                <div class="form-group d-grid d-sm-flex mb0">
                  <button type="button" class="btn btn-thm">Update Profile</button>
                
                </div>
              </div>
            </div>
          </form>
        </div>



        <div class="order_table table-responsive" *ngIf="orderview">
          <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Shipping Method</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Invoice</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <th scope="row">#{{order.orderId}}</th>
                <td>{{order.created}}</td>
                <td>{{order.first_name}} {{order.last_name}}</td>
                <td>{{order.shipping_method}}</td>
                <td>{{order.quantity}}</td>
                <td>${{order.total}}</td>
                <td class="status"><span class="style1">{{order.status}}</span></td>
               
                <td class="action"><span class="details"><i (click)="viewOrder(order.orderId)" class="fa fa-file-invoice red" aria-hidden="true"></i></span></td>
              </tr>             
            </tbody>
          </table>
        </div>

        <div class="order_table table-responsive" *ngIf="addressview">
          <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Shipping Method</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">#1923</th>
                <td>Lenovo IdeaPad 3 15.6" Laptop - Sand</td>
                <td>Aug 15, 2020</td>
                <td>Paid</td>
                <td class="status"><span class="style1">Delivered</span></td>
                <td>$56.00</td>
                <td class="action"><span class="details">...</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      
</div>    
    </div>
  </div>
<app-footer></app-footer>
