<app-header></app-header>
<div class="container-fluid myaccount">
    <div class="row task-manager">

   
    <div class="col-md-3">
      <div class="dashboard_sidebar_list">
        <div class="sidebar_list_item">
          <a (click)="profile()" class="items-center hover-pointer" [ngClass]="{ '-is-active': this.pagestate === 'Profile' }"><i class="flaticon-house mr15"></i>Profile</a>
        </div>
       
        <div class="sidebar_list_item ">
          <a  (click)="order()" class="items-center hover-pointer" [ngClass]="{ '-is-active': this.pagestate === 'Order History' }"><i class="flaticon-checked-box mr15"></i>Order</a>
        </div>
        <div class="sidebar_list_item ">
          <a (click)="changepassword()" class="items-center hover-pointer" [ngClass]="{ '-is-active': this.pagestate === 'Change Password' }"><i class="flaticon-growth mr15"></i>Change Password</a>
        </div>
       
      
        <div class="sidebar_list_item ">
          <a (click)="myaddress()" class="items-center hover-pointer" [ngClass]="{ '-is-active': this.pagestate === 'My Address' }"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-users mr15">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>My Address</a>
        </div>
        <div class="sidebar_list_item ">
          <a  (click)="logout()" class="items-center hover-pointer"><i class="flaticon-exit mr15"></i>Logout</a>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      
        <div class="header">{{this.pagestate}}  <span *ngIf="this?.message">( {{this?.message}} )</span></div>
       
        <div class=" account_details_page form_grid profiledetails" *ngIf="profileview">
          <div class="contactinformation">
            <div class="row mg30">
            <div class="col-lg-6 sameheight">
              <div class="card">
            <p class="heading"><b>Personal Information</b></p>
            <p><b>First Name :</b> {{userdetails?.first_name}}</p>
              <p><b>Middle Name :</b> {{userdetails?.middle_name}}</p>
            <p><b>Last Name :</b> {{userdetails?.last_name}}</p>
            <p><b>Email :</b> {{userdetails?.email}}</p>
            <p><b>Phone :</b> {{userdetails?.phone}}</p>
              <p><b>Preferred Doc Type :</b> {{userdetails?.doc_type}}</p>
                <p><b>HST/GST Number
   :</b> {{userdetails?.gst}}</p>
          
          </div>
              </div>
            
            
            <div class="col-lg-6 sameheight">
              <div class="card">
            <p class="heading"><b>Address Information</b></p>
              <p><b> Name : </b> {{userdetails?.address_name}}</p>
            <p><b> Street 1 : </b>  {{userdetails?.address}}</p>
            <p><b> Street 2 : </b> {{userdetails?.address2}}</p>
              <p><b> City : </b> {{userdetails?.city}}</p>
                <p><b> Postal Code : </b> {{userdetails?.zipcode}}</p>
                  <p><b> Province : </b> {{userdetails?.state}}</p><br>
            </div>
            </div>
            <div class="col-lg-6">
            <p class="heading"><b>Account Status </b></p>
                      <p *ngIf="userdetails?.active==1">Verified</p>
                      <p *ngIf="userdetails?.active!='1'">Not Verified</p>
            </div>
            </div>
            </div>
        </div>



        <div class="order_table table-responsive" *ngIf="orderview">
          <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Shipping Method</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Invoice</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <th scope="row">#{{order.orderId}}</th>
                <td>{{order.created}}</td>
                <td>{{order.first_name}} {{order.last_name}}</td>
                <td>{{order.shipping_method}}</td>
                <td>{{order.quantity}}</td>
                <td>${{order.total}}</td>
                <td class="status"><span class="style1">{{order.status}}</span></td>
               
                <td class="action"><span class="details"><i (click)="viewOrder(order.orderId)" class="fa fa-file-invoice red hover-pointer" aria-hidden="true"></i></span></td>
              </tr>             
            </tbody>
          </table>
        </div>

        <div class="order_table table-responsive" *ngIf="addressview">
          <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Company</th>
                <th scope="col">Street 1</th>
                <th scope="col">Street 2</th>
                <th scope="col">City</th>
                <th scope="col">Province</th>
                <th scope="col">Postal Code</th>
                <th scope="col">Phone</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody *ngIf="addresses">
              <tr *ngFor="let address of addresses">
                <th scope="row">#{{address?.id}}</th>
                <td>{{address?.name}}</td>
                <td>{{address?.company}}</td>
                <td>{{address?.street1}}</td>
                <td>{{address?.street2}}</td>
                <td>{{address?.city}}</td>
                <td>{{address?.state}}</td>
                <td>{{address?.postalcode}}</td>
                <td>{{address?.phone}}</td>
                <td class="action"><i class="details fa fa-edit hover-pointer" (click)="openEditAddressModal(address)"></i></td>
              </tr>
            </tbody>
          </table>
        
        </div>


        <div class="order_table table-responsive changepassword" *ngIf="changepasswordview">
         
        
            
              <form [formGroup]="changePasswordForm" (submit)="onChange()">
                <input class="form-control" formControlName="token" type="hidden">
                <input class="form-control" formControlName="email" type="hidden">
                <label class="col-md-6">New Password
                <input class="form-control" formControlName="password">
                </label><br>
                <button type="submit" class="btn btn-thm">Update</button>
              </form>
            
          <!--Modal Edit End-->
        </div>
      
</div>    
    </div>
      <!--Modal Edit-->
      <div class="edit-address-modal card" *ngIf="addressview" [hidden]="!showEditAddressModal">
        <div class="modal-content">
          <h2>Edit Address</h2>
          <form [formGroup]="editAddressForm" (submit)="onSave()">
            <input class="form-control" formControlName="id" type="hidden">
            <label class="col-md-6">Name
            <input class="form-control" formControlName="name">
            </label>
            <label class="col-md-6">Company
            <input class="form-control" formControlName="company">
            </label>
            <label class="col-md-6">Street 1
            <input class="form-control" formControlName="street1">
            </label>
            <label class="col-md-6">Street 2
            <input class="form-control" formControlName="street2">
            </label>
            <label class="col-md-6">City
             <input class="form-control" formControlName="city">
            </label>
            <label class="col-md-6">State
            <input class="form-control" formControlName="state">
            </label>
            <label class="col-md-6">Postal Code
            <input class="form-control" formControlName="postalcode">
            </label>
            <label class="col-md-6">Phone
            <input class="form-control" formControlName="phone">
            </label>
            <button type="submit" class="btn btn-thm">Save</button>
            <button type="button" (click)="onCancel()">Cancel</button>
          </form>
        </div>
      </div>
      
      <!--Modal Edit End-->
  </div>

  
<app-footer></app-footer>
