<app-header></app-header>
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
    <div class="col-xl-12">
      <div class="breadcrumb_content">
        <h3>{{this.pagename}}</h3>
      </div>
    </div>
  </div>
</div>
</section>
<section class="shop-single-content">
    <div class="container">
        <div class="row container-card">
            <div class="col-xl-5 card">
      <div class="column" style="position: relative;"><div class="scrollbalance-inner">
        <div class="shop_single_natabmenu">
          <div class="d-block d-sm-flex align-items-start">
            <div class="nav flex-column nav-pills me-0 me-md-3" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
              <button *ngIf="product.image" class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><img src="https://www.yusyah.com/images/products/{{product.image}}" alt=""></button>
              <button *ngIf="product.back_image" class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><img src="https://www.yusyah.com/images/products/{{product.back_image}}" alt=""></button>
           
            </div>
            <div class="tab-content m-auto" id="v-pills-tabContent">
              <div *ngIf="product.image" class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="shop_single_navmenu_content justify-content-center">
                  <a class="product_popup popup-img" href="https://www.yusyah.com/images/products/{{product.image}}"></a>
                  <div class="zoomimg_wrapper m-auto">
                    <img class="zoom-img" id="zoom_01" src="https://www.yusyah.com/images/products/{{product.image}}" data-zoom-image="images/shop/ss1.png" width="550" alt="Shop Single Image">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" *ngIf="product.back_image" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="shop_single_navmenu_content justify-content-center">
                  <a class="product_popup popup-img" href="https://www.yusyah.com/images/products/{{product.back_image}}"></a>
                  <div class="zoomimg_wrapper m-auto">
                    <img class="zoom-img" id="zoom_02" src="https://www.yusyah.com/images/products/{{product.back_image}}" data-zoom-image="images/shop/ss2.png" width="550" alt="Shop Single Image">
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div></div></div>
            </div>
            <div class="col-xl-6 offset-xl-1 d-none d-xl-block card">
      <div class="column"><div class="scrollbalance-inner"><div class="shop_single_product_details sidebar mb-3 mb-xl-0">
          <ul class="db-400 d-flex">
          
            
       <!-- <li class="border-right me-3 heading-color fz14">3,014 reviews</li>
            <li class="color-light-green fz14">330 in stock</li>-->    
          </ul>
                      <h4 class="title mb15">{{product.name}}</h4>
            
                      <div *ngIf="auth" class="sspd_price mb25 mt20">${{product.discounted_price}}</div>
                      <h4>About This Item</h4>
                      <p class="para" [innerHTML]="sanitizedHtml"></p>
                      <h5 *ngIf="!auth" >Register or Login Now To get price details</h5>
                        <a *ngIf="!auth" href="login" class="btn btn-thm">Click Here to Get Started</a>
         
                     


          <hr class="mt-0"  *ngIf="auth">
          <ul class="cart_btns ui_kit_button mb15 d-flex justify-content-between" *ngIf="auth">
            <li>
              <div class="cart_btn home_page_sidebar">
                <div class="quantity-block home_page_sidebar">
                  <button (click)="decrement(this.quan)" class="quantity-arrow-minus2 shop_single_page_sidebar"><img src="assets/images/icons/minus.svg" alt=""></button>
                  <input class="quantity-num2 shop_single_page_sidebar" type="number" value="{{this.quan}}">
                  <button (click)="increment(this.quan)" class="quantity-arrow-plus2 shop_single_page_sidebar"> <span class="flaticon-close"></span> </button>
                </div>
              </div>
            </li>
            <li><button type="button" class="btn btn-thm">Add to cart</button></li>
          </ul>
        
                  </div></div></div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

