<app-header></app-header>
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
    <div class="col-xl-12">
      <div class="breadcrumb_content">
        <h3>{{this.pagename}}</h3>
      </div>
    </div>
  </div>
</div>
</section>
<section class="shop-single-content productmyview">
    <div class="container">
        <div class="row container-card">
            <div class="col-xl-5 card">
      <div class="column" style="position: relative;"><div class="scrollbalance-inner">
        <div class="shop_single_natabmenu">
          <div class="d-block d-sm-flex align-items-start">
            <div class="nav flex-column nav-pills me-0 me-md-3" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
              <button *ngIf="product.image" class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><img src="https://api.yusyah.com/public/uploads/products/{{product.image}}" alt=""></button>
              <button *ngIf="product.back_image" class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><img src="https://api.yusyah.com/public/uploads/products/{{product.back_image}}" alt=""></button>
           
            </div>
            <div class="tab-content m-auto" id="v-pills-tabContent">
              <div *ngIf="product.image" class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="shop_single_navmenu_content justify-content-center">
                  <a class="product_popup popup-img" href="https://api.yusyah.com/public/uploads/products/{{product.image}}"></a>
                  <div class="zoomimg_wrapper m-auto">
                    <img class="zoom-img" id="zoom_01" src="https://api.yusyah.com/public/uploads/products/{{product.image}}" data-zoom-image="images/shop/ss1.png" width="550" alt="Shop Single Image">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" *ngIf="product.back_image" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="shop_single_navmenu_content justify-content-center">
                  <a class="product_popup popup-img" href="https://api.yusyah.com/public/uploads/products/{{product.back_image}}"></a>
                  <div class="zoomimg_wrapper m-auto">
                    <img class="zoom-img" id="zoom_02" src="https://api.yusyah.com/public/uploads/products/{{product.back_image}}" data-zoom-image="images/shop/ss2.png" width="550" alt="Shop Single Image">
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div></div></div>
            </div>
            <div class="col-xl-6 offset-xl-1 d-none d-xl-block card">
                <div class="details">
                    <div class="title">{{product.name}}</div>
                    <h4>About This Item</h4>
                    <p class="para" [innerHTML]="sanitizedHtml"></p>
                    <h5 *ngIf="this?.message">{{this?.message}}</h5>
                    <div *ngIf="!message">
                    <h5 *ngIf="!auth" >Register or Login Now To get price details</h5>
                    <a *ngIf="!auth" href="login" class="btn btn-thm">Click Here to Get Started</a>
                    </div>
                    <div class="price" *ngIf="auth">${{product.discounted_price}}</div>
                    <div class="cart_btn" *ngIf="auth">
                      <div class="quantity-block">
                        <button class="quantity-arrow-minus inner_page" (click)="decrement(product.id)"> <span class="fa fa-minus"></span> </button>
                        <input class="quantity-num inner_page" #quantityInputs type="number" [value]="product.quantity" (input)="product.quantity = quantityInputs.value">
                        <button class="quantity-arrow-plus inner_page" (click)="increment(product.id)"> <span class="fas fa-plus"></span> </button>
                      </div>
                      <button *ngIf="auth" (click)="onAddAllToCart()" type="button" class="btn btn-thm">Add to cart</button>
                    </div>
                   
                    <span class="price" *ngIf="cartQuantity[product.id] > 0 && auth">{{cartQuantity[product.id]}} in cart</span>
                  </div>


      
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

