
    <!--brand header-->
    <app-header></app-header>

    <div class="body_content_wrapper position-relative" >
	   	   
        <section class="home-one">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-lg-12">
                        <ngx-slick-carousel class="carousel" [config]="bannerOptions">
                            <div ngxSlickItem *ngFor="let slide of sliders" class="slide">
                              <img src="https://www.yusyah.com/images/banners/{{slide.image}}" alt="">
                            </div>
                          </ngx-slick-carousel>
                       
                    </div>
                </div>
            </div>
        </section>
  <!--Latest Devices-->
   
  <section class="features pb20">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="main-title text-center text-sm-start mb80-520 mb25-414">
                    <h2 class="">Latest Devices</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ngx-slick-carousel class="carousel" [config]="latestdevicesOptions">
                    <a href="category/{{latest.slug}}" ngxSlickItem *ngFor="let latest of latestdevices" class="slide latestdevices">
                      <img src="https://www.yusyah.com/images/categories/{{latest.image}}" alt="">
                      <h4 class="text-center">{{latest.name}}</h4>
                    </a>
                  </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!--Accessories-->
<section class="our-blog pt0 pb60 latestdevices">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="main-title text-center text-sm-start">
                    <h2>Accessories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3 card" *ngFor="let product of accessories">
                <div class="for_blog">
                    <a class="thumb" href="/product/{{product.slug}}">
                        <img class="img-whp" src="https://www.yusyah.com/images/products/{{product.image}}" alt="{{product.name}}">
                        <div class="tags">
                            <span *ngIf="product.newarrival == 1" class="new">New</span>
                            <span *ngIf="product.hot_product == 1" class="sale">Sale</span>
                        </div>
                    </a>
                    <div class="details text-center">
                        <div class="title"><a href="/product/{{product.slug}}">{{product.name}}</a></div>
                        <div class="price" *ngIf="auth">${{product.discounted_price}}</div>
                        <div class="cart_btn" *ngIf="auth">
                          <div class="quantity-block">
                            <button class="quantity-arrow-minus inner_page" (click)="decrement(product.id)"> <span class="fa fa-minus"></span> </button>
                            <input class="quantity-num inner_page" #quantityInputs type="number" [value]="product.quantity" (input)="product.quantity = quantityInputs.value">
                            <button class="quantity-arrow-plus inner_page" (click)="increment(product.id)"> <span class="fas fa-plus"></span> </button>
                          </div>
                        </div>
                        <span class="price" *ngIf="cartQuantity[product.id] > 0 && auth">{{cartQuantity[product.id]}} in cart</span>
                      </div>
                </div>
            </div>
        
        </div>
    </div>
</section>

  
<div *ngIf="auth" id="addalltocart" (click)="onAddAllToCart()">
    <div id="wrapper">
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
       <app-footer></app-footer></div>